<%- include('header') %>
<div class="result mx-auto" style="width: 400px;;">
  <% if (error) {%>
  <%= error %>
  <% } else {%>
  $$ <%= quantidade %> na cotação <%= cotacao %> é igual a: R$ <%= conversao %>
  <% } %>
</div>

<form class="mx-auto p-3" style="width: 150px;" action="/">
  <button class="btn btn-warning mx-auto text-center">Voltar</button>
</form>

<%- include('footer') %>